{#{% extends 'base.html.twig' %}#}
{% block body %}

    <table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Temat</th>
        <th>Wiadomość</th>

    </tr>
    </thead>
    <tbody>
        {#{% for cityN in city %}#}
            {#<tr>#}
    {##}
                {#<th>{{ cityN.miastoName }}</th>#}
                {#<th>{{ city }}</th>#}
                {#<th> <img src="/files/photo/big/{{ photo }}"> </th>#}
            {#</tr>#}
        {#{% endfor %}#}

    </tbody>

    </table>

{% endblock %}