{% extends 'base.html.twig' %}

{% block body %}



    <table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Temat</th>
        <th>Wiadomość</th>

    </tr>
    </thead>
    <tbody>
    {% for object in objects %}
        <tr>
        <td>{{ object.obname }}</td>

        </tr>
    {% endfor %}
    </tbody>

    </table>

{% endblock %}