
{% block body %}



    <table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Temat</th>
        <th>Wiadomość</th>

    </tr>
    </thead>
    <tbody>
    {% for objected in object %}
        <tr>
        <td>{{ objected.obcity }}</td>

        </tr>
    {% endfor %}
    </tbody>

    </table>

{% endblock %}